Calorie-Tracker-2
Calorie-Tracker-5
Calorie-Tracker-7
classification.ipynb
collab.ipynb
model.ipynb
runs/detect/predict
runs/detect/predict2
runs/detect/predict3
runs/detect/predict4
runs/detect/train8
runs/detect/train9
literature review.txt
.streamlit/secrets.toml
yolov8x.pt
yolov9m.pt
yolov10x.pt
runs/detect/train4/args.yaml
runs/detect/train4/confusion_matrix_normalized.png
runs/detect/train4/confusion_matrix.png
runs/detect/train4/events.out.tfevents.1719310609.ip-10-192-11-29.11605.0
runs/detect/train4/F1_curve.png
runs/detect/train4/labels_correlogram.jpg
runs/detect/train4/labels.jpg
runs/detect/train4/P_curve.png
runs/detect/train4/PR_curve.png
runs/detect/train4/R_curve.png
runs/detect/train4/results.csv
runs/detect/train4/results.png
runs/detect/train4/train_batch0.jpg
runs/detect/train4/train_batch1.jpg
runs/detect/train4/train_batch2.jpg
runs/detect/train4/train_batch27720.jpg
runs/detect/train4/train_batch27721.jpg
runs/detect/train4/train_batch27722.jpg
runs/detect/train4/val_batch0_labels.jpg
runs/detect/train4/val_batch0_pred.jpg
runs/detect/train4/val_batch1_labels.jpg
runs/detect/train4/val_batch1_pred.jpg
runs/detect/train4/val_batch2_labels.jpg
runs/detect/train4/val_batch2_pred.jpg
runs/detect/train4/weights/model_artifacts.json
runs/detect/train4/weights/roboflow_deploy.zip
runs/detect/train4/weights/state_dict.pt
runs/detect/train4/weights/last.pt
app copy.py
annotated_video.mp4
